.search-results {
    width: 100%;
    max-height: 250px;
    max-width: 700px;
    background: white;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 3px 10px 10px 0px rgb(0 0 0 / 8%);
    box-sizing: border-box;
    list-style-type: none;
    overflow: hidden;
    overflow-y: auto;
    padding: 0.5rem;
    position: absolute;
    top: 49px;
    margin: 0;
    z-index: 1;
}

.result {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
}

.result:hover {
    background: ghostwhite;
}

.result--no-margin {
    margin: 0;
}

.result__badge {
    border-radius: 4px;
    color: white;
    font-size: 8px;
    font-weight: bold;
    margin-right: 8px;
    text-transform: uppercase;
    padding: 4px;
}

.result__title {
    width: 100%;
    flex: 1;
    font-weight: bold;
    text-align: left;
}

.result__year {
    color: darkgray;
    margin-left: 4px;
}