.search-bar {
    width: 75%;
    position: relative;
    max-width: 700px;
}

.search-bar__bar {
    height: 3rem;
    align-items: center;
    background: whitesmoke;
    border-radius: 1rem;
    color: gray;
    display: flex;
    padding: 0 1rem;
}

.search-bar__button {
    background: lightgray;
    border: none;
    border-radius: 1rem;
    color: gray;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 24px;
    text-transform: uppercase;
}

.search-bar__button:hover {
    background: gray;
}

.search-bar__button:active {
    background: green;
}

.search-bar__icon {
    color: gray;
    cursor: pointer;
    font-size: 14px;
    margin-right: 4px;
}

.search-bar__input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
}