.search-bar {
    height: 3rem;
    width: 75%;
    align-items: center;
    background: whitesmoke;
    border-radius: 1rem;
    color: gray;
    display: flex;
    padding: 0 1rem;
    max-width: 700px;
}

.search-bar__icon {
    color: gray;
    font-size: 14px;
    margin-right: 4px;
}

.search-bar__input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
}