.search-bar {
    width: 75%;
    position: relative;
    max-width: 700px;
}

.search-bar__bar {
    height: 3rem;
    align-items: center;
    background: white;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 1rem 1rem 1rem 0;
    color: gray;
    display: flex;
    padding: 0 1rem;
}

.search-bar__bar--error {
    border: 1px solid red;
}

.search-bar__bar--show-results {
    border-radius: 1rem 1rem 0 0;
}

.search-bar__button {
    background: slateblue;
    border: none;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 24px;
    text-transform: uppercase;
    margin-left: 8px;
    outline: none;
}

.search-bar__button:disabled {
    background: darkgray;
    cursor: not-allowed;
}

.search-bar__button:hover {
    background: darkslateblue;
}

.search-bar__button:active {
    background: #3b3565;
}

.search-bar__error-msg {
    color: red;
    font-size: 12px;
    margin-bottom: 4px;
}

.search-bar__input, .search-bar__input:focus {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    color: gray;
    outline: none;
}